#btnSlideDown {
  display: inline-block;
  margin: 10px;
  position: relative;
  padding: 11px;
}

.bizarro {
  position: absolute;
  margin-top: -100px;
  margin-left: -100px;
}
.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 8px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.3s;
}
.top {
  top: 18%;
}
.middle {
  top: 48%;
}
.bottom {
  top: 78%;
}
.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}
.icon.close .middle,
.icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}
